.list-unstyled {
  padding-left: 0;
  list-style: none;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: config('rhythm.vertical');
}

.list-inline { 
  
  li { display: inline-block; }
  
}

.container {
  @include clearfix;
  max-width: 100%;
  width: 1170px;
  margin: 0 auto;
  padding: 0 2rem;
}

.visually-hidden { @include visually-hidden; }

.relative { position: relative; }

.clear { clear: both; }