$colors: (
  
  'maroon': (
    base: #2D1214
  ),
  
  'blush': (
    base: #E4BCBA
  ),
  
  'grey': (
    base: #EBEBEB
  ),
  
  'gray': (
    base: #EBEBEB
  ),
  
  'purple': (
    light: #6C6A74,
    base: #36333D
  )
  
);

$brandy-colors-map: $colors;