<!DOCTYPE html>
<html lang="en">
<head>
  
  {{! Head}}
  {{> head}}

</head>

<body>

  {{! Sidebar}}
  <aside class="sidebar" role="nav">
  
    {{> sidebar}}
  
  </aside>
  
  {{! Main}}
  <article class="main" role="main">
  
    {{! Top Navigation}}
    {{> header}}
    
    {{! Description }}
    {{> description}}
    
    {{! Content Block}}
    {{> content}}
    
    {{! Footer}}
    {{> footer}}
  
  </article>
  
  {{! Foot}}
  {{> foot}}

</body>
</html>
